<html>
  <head>
    <style>
      h1{ font-size:20px;
          color:black;
      }
      div{ width:150px;
           height:150px;
            border: 1px outset blue;
            text-align: center; 
            background-color:#b5b3ae;
            margin:2px;
            padding:5px;
            float:left;
      }
      #alunno {
         background-color:#b5b3ae;
      }
      p { font-size:18px;}
      ul,li {
        
    
        font-size:8px;
      }
    </style>
    
  </head>
  <body>
  </body>
  <h1>caselle numerate
  </h1>  
  <div id="alunno">
    <p> 22 </p>
  


  </div>
  <div>
    <p> 5 </p>
  </div>
  <div>
    <p> 9 </p>
  </div>
<html>
